#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav{
  background-color: white;
  height: 30px;
}

nav a{
  color: black;
}
nav a:hover{
  border: 5px solid red;
}

